body {
  background: linear-gradient(to top, #33001b, #ff0084);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.header {
  display: flex;
  justify-content: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  align-items: center;
  width: 100vw;
  height: 10%;
  /* border-radius: 10px; */
  border: solid
}

.header h1 {
  color: black;
}

.container-listsMain {
  display: flex;
  gap: 10px;
  border: solid;
  width: 100vw;
  height: 70%;
}

.container-listsForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  border: solid;
}

.container-main {
  display: flex;
  flex-direction: column;
  /* background-color: rgba(0, 0, 0, 0.5); */
  justify-content: space-around;
  align-items: center;
  color: black;
  width: 68%;
  border: solid
}

.footer {
  display: flex;
  /* background-color: rgba(0, 0, 0, 0.5); */
  justify-content: center;
  align-items: center;
  width: 100vw;
  color: black;
  height: 10%;
  border: solid
}

.footer p {
  font-size: 30px;
}